* {
    font-family: sans-serif;
}

body{
    display:flex;
    height:100%;
    min-height: 100%;
}

.dashboard{
    font-size:25px;
}

i {
    font-size:22px;
    color:white;
    padding:0px;
}

#user {
    margin-left:2.5px;
}

#dashboard {
    margin-top:10px;
    font-size:30px;
}

.sidebar {
    display:grid;
    background-color: #0789fa;
    grid-template-rows: repeat(2, minmax(250px, 300px)); 
    grid-template-columns: repeat(1, minmax(270px, 1fr));
    align-items:start;
    font-weight:bold;
    row-gap:100px;
    color:white;
    width:50vw;
    min-height: 114.9vh;
    font-size:19px;
}

.icon-row-container {
    display:grid;
    grid-template-columns: 50px 50px;
}

.main-tabs {
    display:grid;
    row-gap:15px;
    padding:30px;
}

.other-tabs {
    display:grid;
    row-gap:15px;
    padding:30px;
}

.header{
    display:grid;
    width:100%;
    margin: 0px 0px -45px 0px;
    background-color: whitesmoke;
}

.header-top-row{
    display:grid;
    grid-template-columns: 60% 40%;
    margin: 0px 0px -30px 0px;
}

.header-top-row > i {
    font-size:90px;
}

#bell,
#search {
    color:black;
    font-size:22px;
}

#bell {
    margin-left:50px;
}

.name,
.hello{
    font-weight: bold;
}

#name{
    font-size:35px;
    margin: -10px 0px 0px -5px;
}

.top-right{
    display:grid;
    grid-template-columns: repeat(2, 100px) 250px;
    align-items: center;
    margin-left:150px;
}

.profile-pic{
    height:100px;
    border-radius: 50%;
}

#profile-pic-small {
    height:85px;
}

.main-content-container {
    display:grid;
    grid-template-rows: 25vh 75vh;
}

.body {
    display:grid;
    height:85vh;
    padding: 45px 0px 0px 0px;
    grid-template-columns: 60vw 20vw;
    background-color:rgba(211, 211, 211, 0.842);
}

.body-content {
    display:grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(3, 100/3%);
}

.grid-container{
    height:250px;
    width:90%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.right-sidebar{
    display:grid;
    margin: 0px 0px -50px 0px;
    height:780px;
    grid-template-rows: repeat(2, 43%);
}

.search {
    padding:20px 60px;
    display: flex;
    align-items: center;
    gap:10px;
}

#search-bar {
    outline: none;
    border: none;
    border-radius: 9px;
    height:30px;
    width:45vw;
    background-color: lightgrey;

}

.header-bottom-row{
    display:flex;
    margin:-30px 0px 0px 0px;
    align-items: center;
    justify-content:space-between;
}

.left-bottom-header{
    display:grid;
    grid-template-columns:repeat(2, 125px);
    margin:0px 0px 25px 85px;
    align-items: center;
}

.right-bottom-header{
    display:grid;
    grid-template-columns: repeat(3, 150px);
    margin-right:95px;
}

button {
    color:white;
    background-color:#0789fa;
    border:none;
    height:50px;
    width:125px;
    font-weight:bold;
    border-radius: 20px;
}

.title,
.your-projects {
    font-size:19px;
    font-weight:lighter;
}

.your-projects {
    position:absolute;
    margin: -20px 0px -100px 50px;
}

.title-holder{
    width:60vw;
}

.grid-content {
    display:flex;
    overflow: hidden;
    padding-left:20px;
    flex-direction: column;
    width:75%;
    height:80%;
    border:2px solid #ffffff;
    border-left: 8px solid orange;
    border-radius:10px;
    background-color: white;
}

.icon-row{
    display:flex;
    position:relative;
    justify-content: end;
    align-items:end;
    gap:10px;
    bottom:20px;
    margin: 0px 30px 0px 0px;
    grid-template-columns: repeat(3, 35px);
}

.icon-row > i {
    color:black;
}

.grid-content > p {
    height:100px;
    color:rgb(95, 82, 82);
}

.announcements-holder{
    padding:0px 20px 80px 20px;
    background-color: white;
    height:68%;
    border:2px solid white;
    border-radius: 10px;
    width:80%;
}

.announcement {
    border-bottom:2px solid lightgrey;
}

.announcements {
    position:relative;
    bottom:30px;
    height:350px;
}

h2 {
    font-size:20px;
}

.trending-holder{
    background-color: white;
    width:82%;
    height:350px;
    padding:25px 0px 0px 30px;
    margin:0px 0px -80px 0px;
    border:2px solid white;
    border-radius: 10px;
}

.trending-person > img {
    height:60px;
    border-radius: 50%;
}

.trending-person {
    display:grid;
    grid-template-columns: repeat(3, 100px);
}

.username-holder{
    width:200px;
}